# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Maven
/target
/log

# Misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/reports
/src/translations/template.*
/src/environments/.env.json

# E2E
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.vscode/

package-lock.json

assets/master_data/downloads
assets/master_data/downloads/*

assets/master_data/logs
assets/master_data/logs/*
